@using SeatGeek.Services.Data.Interfaces
@using SeatGeek.Web.Infrastructure.Extensions
@inject IEventService EventService
@model OrderFormModel
@{
    ViewBag.Title = "Add Tickets";
}

@inject IEventService EventService
@{
    var eventModel = await EventService.GetEventForEditByIdAsync(this.Model.EventID.ToString());
    var image = eventModel.ImageUrl;
    var title = eventModel.Title;
    var date = eventModel.Start;
}
<hr />
<h1 class="text-center" style="color:indigo !important">@ViewBag.Title</h1>
<hr />



<div class="row">
    <div class="col-md-6">
        <div class="img d-flex justify-content-center">
            <!-- Center the content horizontally -->
            <div class="card" style="width: 20rem;">
                <!-- Set the width of the card -->
                <img class="card-img-top" src="@image" alt="Event Image">
                <div class="card-body text-center">
                    <h3>@title</h3>
                    <h5>@date</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <form asp-controller="Ticket" asp-action="Add" asp-route-id="@Model.EventID" method="post">
          <div class="form-group ">

                @for (int i = 0; i < Model.Tickets.Count; i++)
                {
                    <div class="row">
                        <div class="col-md-4 mb-8">
                            <label asp-for="Tickets[i].Type" class="font-weight-bold">@Model.Tickets[i].Type</label>
                            <input type="hidden" asp-for="Tickets[i].Type" value="@Model.Tickets[i].Type" />
                        </div>
                        <div class="col-md-4 mb-8">
                            <label asp-for="Tickets[i].Price" class="font-weight-bold">@Model.Tickets[i].Price BGN</label>
                            <input type="hidden" asp-for="Tickets[i].Price" class="form-control" readonly />
                        </div>
                        <div class="col-md-2 mb-8">
                            <div class="form-group">

                                <div class="form-group">
                                    <label asp-for="Tickets[i].NumberForEveryModel" asp-route="Tickets[i].NumberForEveryModel" class="font-weight-bold">Quantity</label>
                                    <input asp-for="Tickets[i].NumberForEveryModel" asp-route="Tickets[i].NumberForEveryModel" class="form-control" />
                                    <span asp-validation-for="Tickets[i].NumberForEveryModel" class="text-danger"></span>
                                </div>
                                @*input asp-for="Tickets[i].NumberForEveryModel" asp-route="Tickets[i].NumberForEveryModel" class="form-control" />
                                 <!-- Adjust this text as needed -->
                                <span asp-validation-for="Tickets[i].NumberForEveryModel" class="text-danger"></span> 
                                <label asp-for="Tickets[i].NumberForEveryModel" asp-route="Tickets[i].NumberForEveryModel">Quantity</label>
                                <input asp-for="Tickets[i].NumberForEveryModel" asp-route="Tickets[i].NumberForEveryModel" class="form-control" />
                                <span asp-validation-for="Tickets[i].NumberForEveryModel" class="text-danger"></span>*@
                            </div>
                            
                        </div>
                    </div>
                }
          </div>

            <div class="form-group text-center">

                <button type="submit" class="btn btn-lg md-4">Buy it</button>
            </div>
        </form>
      
    </div>
</div>
