@using SeatGeek.Data.Models.Enums
@model IEnumerable<TicketFormModel>
@{
    ViewBag.Title = "Add Tickets";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-8">
            <form asp-controller="Ticket" asp-action="AddTickets" method="post">
                <h4>Add Tickets</h4>

                @foreach (var ticketModel in Model)
                {
                    <div class="form-group">
                        <label asp-for="@ticketModel.Type">@ticketModel.Type</label>
                        <input type="hidden" asp-for="@ticketModel.Type" value="@ticketModel.Type" />

                        <div class="form-group">
                            <label asp-for="@ticketModel.Price">@ticketModel.Price</label>
                            @* <input asp-for="@ticketModel.Price" class="form-control" readonly /> *@
                        </div>

                        <div class="form-group">
                            <label asp-for="@ticketModel.Quantity">Quantity</label>
                            <input asp-for="@ticketModel.Quantity" class="form-control" />
                            <span asp-validation-for="@ticketModel.Quantity" class="text-danger"></span>
                        </div>

                    </div>
                }
               
                <button type="submit" class="btn btn-primary">Buy it </button>
            </form>
        </div>
    </div>
</div>