@model OrderFormModel
@{
    ViewBag.Title = "Add Tickets";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-8">
            <form asp-controller="Ticket" asp-action="Add" asp-route-id="@Model.EventID" method="post">
                <h4>Add Tickets</h4>

                @for (int i = 0; i < Model.Tickets.Count; i++)
                {
                    <div class="form-group">
                        <label asp-for="Tickets[i].Type">@Model.Tickets[i].Type</label> 
                        <input type="hidden" asp-for="Tickets[i].Type" value="@Model.Tickets[i].Type" />

                        <div class="form-group">
                            <label asp-for="Tickets[i].Price">@Model.Tickets[i].Price</label>
                            <input type="hidden" asp-for="Tickets[i].Price" class="form-control" readonly />
                        </div>

                        <div class="form-group">
                            <label asp-for="Tickets[i].NumberForEveryModel" asp-route="Tickets[i].NumberForEveryModel">Quantity</label>
                            <input asp-for="Tickets[i].NumberForEveryModel" asp-route="Tickets[i].NumberForEveryModel" class="form-control" />
                            <span asp-validation-for="Tickets[i].NumberForEveryModel" class="text-danger"></span>
                        </div>
                    </div>
                }
                <button type="submit" class="btn btn-primary">Buy it</button>
            </form>
        </div>
    </div>
</div>

