@model OrderDetailsViewModel

@{
    ViewBag.Title = "Order Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Event Image">
            <a></a>
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Number of Tickets: <b>@Model.NumberTickets</b></p>
            <p>Total Prce: <b>@Model.OrderTotal BGN</b></p>
           
        </div>
    </div>
</div>


