@using SeatGeek.Services.Data.Interfaces
@using SeatGeek.Web.Infrastructure.Extensions
@inject IEventService EventService
@model OrderDetailsViewModel

@{
    ViewBag.Title = "Your Ticket Details";
}


<hr />
<h1 class="text-center" style="color:indigo !important">@ViewBag.Title</h1>
<hr />


 <div class="ticket" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Event Image">
            <a></a>
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Number of Tickets: <b>@Model.NumberTickets</b></p>
            <p>Total Price: <b>@Model.OrderTotal BGN</b></p>
           
        </div>
    </div>
</div>  

