@using SeatGeek.Services.Data.Interfaces
@using SeatGeek.Web.Infrastructure.Extensions
@model MineOrdersViewModel
@inject IEventService EventService




<div class="d-flex align-items-center justify-content-center grow im">
    <div class="card" style="border: 5px solid #481252; border-radius: 10px; width: 100%;">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Event Image" style="width: 700px; height: 400px; object-fit: cover;">
        <div class="card-body text-center">
            <h3>@Model.Title</h3>
            <div class="card col-12 border-0" style="background-color :whitesmoke; border-radius: 8px;">
                <p1>@Model.Start - @Model.End</p1>
                <p1>Number of Tickets:<p1>@Model.NumberTickets</p1></p1>
                <p1>Total Price: <b style="font-size: 20px; font-weight: bold;">@Model.OrderTotal BGN</b></p1>

                <!-- "Remove" button -->
                <button type="button" class="btn btn-danger mt-3" onclick="removeOrder(@Model.Id)">Remove</button>
            </div>
        </div>
    </div>
</div> 


