@using SeatGeek.Web.Infrastructure.Extensions
@model IEnumerable<AllCategoriesViewModel>

@{
    ViewData["Title"] = "All Categories";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="list-group">
    @foreach (AllCategoriesViewModel category in Model)
    {
        <a class="list-group-item list-group-item-action" asp-controller="Category" asp-action="Details" asp-route-id="@category.Id" asp-route-information="@category.GetUrlInformation()">@category.Name</a>
        <a asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
    }
</div>
<div></div>
<div>
    <a asp-area="Admin" asp-controller="Category" asp-action="Add"
       class="btn btn-primary btn-lg">Add Category</a>
</div>

