@using SeatGeek.Services.Data.Interfaces
@using SeatGeek.Web.Infrastructure.Extensions
@using SeatGeek.Web.ViewModels.Event
@using SeatGeek.Web.ViewModels.Order
@using System.Runtime.Serialization
@using static SeatGeek.Common.EntityValidationConstants.Event;
@model EventDetailsViewModel

@inject IAgentService AgentService
@inject IEventService HouseService
@{
    bool isUserAgent = await AgentService.AgentExistsByUserIdAsync(this.User.GetId()!);
    bool isAgentOwnerOfTheEvent = await AgentService.HasEventWithIdAsync(this.User.GetId(), Model.Id.ToString());

}

@{
    ViewBag.Title = "Event Details";
}

<hr />
<h1 class="text-center" style="color:indigo !important">@ViewBag.Title</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="@Model.ImageUrl" alt="Event Image">
                <div class="card-body">
                    <h5 class="card-title">Agent Info</h5>
                    <p class="card-text">FullName: @Model.Agent.FullName</p>
                    <p class="card-text">Email: @Model.Agent.Email</p>
                    <p class="card-text">Phone Number: @Model.Agent.PhoneNumber</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><u>@Model.Title</u></h5>
                    <p class="card-text">Located in: <b>@Model.Address</b></p>
                    <p class="card-text">Start: <b>@Model.Start</b></p>
                    <p class="card-text">End: <b>@Model.End</b></p>
                    <p class="card-text">City: <b>@Model.City</b></p>
                    <p class="card-text">@Model.Description</p>
                    <p class="card-text">Category: <b>@Model.Category</b></p>

                    <div class="form-inline">
                        @if (!this.User.Identity?.IsAuthenticated ?? false)
                        {
                            @if (isUserAgent && isAgentOwnerOfTheEvent)
                            {
                                <a class="btn btn-warning mr-2" asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                                <a class="btn btn-danger" asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                            }
                        }
                        else
                        {
                            <a class="btn btn-danger" asp-controller="Ticket" asp-action="Add" asp-route-id="@Model.Id">Buy Ticket</a>
                        }
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
